.card-footer {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}
.product-info {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: var(--font-text);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}
.title {
  margin: 15px 0px;
  font-family: var(--font-display);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}
.description {
  font-family: var(--font-text);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  color: var(--black);
  background: var(--gray-100);
  box-shadow: var(--shadow-small);
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid var(--gray-200);
}
.image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.price {
  font-family: var(--font-text);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: 700;
}
.card-button {
  background: var(--accent);
  border: 2px solid var(--accent);
  color: var(--white);
}
